// app global css in Stylus form
// app global css in Stylus form
$btn-primary = #441DD9;
$text-dark-primary = #FFFFFF;

.bg-form__submit {
  background: $btn-primary;
}

.text-form__text {
  color: $text-dark-primary;
}

.bac_tab {
  background: $text-dark-primary;
}
